html, body{
    font-family: -apple-system, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #222;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;

    >.buttons{
        margin-top: 10px;
        margin-bottom: 10px;

        >button{
            margin: 5px;
        }
    }

    >.list{
        padding: 0;
        margin: 0;
        list-style-type: none;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        width: 300px;
    
        >.list-item{
            padding: 10px 15px;
    
            &:not(:first-child){
                border-top: 1px solid #ddd;
            }
        }
    }
}